/* FD WEBSITE FONTS */

/* Primary Font - Gluten */
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');

/* Secondary Font - Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Tertiary Font - Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* FD WEBSITE COLORS */
:root {
    --primary-color: #bb2649;
    /* Primary Color - Pantone Viva Magenta */
    --secondary-color: #3a6e62;
    /* Secondary Color - Statue of Liberty */
}


body {
    background-color: #FFF5DF;
    margin: 0;
}

.fd-link {
    color: #68313C;
    text-decoration: none;
    font-weight: bold;
}

.fd-header {
    color: var(--primary-color, magenta);
    font-family: 'Nunito', 'sans-serif';
    font-weight: bold;
    margin: 3rem 3rem;
}

#fd-logo {
    width: 150px;
}

.fd-header h1 {
    font-size: 50px;
    margin: 0;
}

.fd-header h4 {
    color: #000000;
    margin-left: 15px;
    margin-top: -30px;
    font-family: 'Gluten', 'cursive';
}

.fd-body {
    font-family: 'Nunito', 'sans-serif';
    margin: 3rem 3rem;
    /* height: 60vh; */
}

.fd-body h2 {
    font-size: 80px;
    margin: 0;
}

#fd-banner {
    width: 85vw;
}

.fd-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1.5rem 3rem;
    color: #ffcdd2;
    background-color: var(--secondary-color);
    font-family: 'Lato', 'sans-serif';
    font-size: 12px;
}